<li [ngClass] = "{'list-group-item' : true,
'list-group-item-success': appareilStatus === 'allumer',
'list-group-item-danger': appareilStatus === 'eteint'}">
    <h4 [ngStyle] = "{color: getColor()}">Appareil :{{ appareilName }}-- status : {{ getStatus() }}</h4>
    <br>
    <a [routerLink]="[id]">Détail</a>
    <button class="btn btn-sm btn-success"
    (click)="onSwitchOn()"
    [disabled] ="appareilStatus ==='allumer'"
    >Allumer</button> &nbsp;
    <button class="btn btn-sm btn-danger"
    (click)="onSwitchOff()"
    [disabled] ="appareilStatus ==='eteint'"
    >Eteindre</button>

</li>
