
    <p>Mise à jour {{ lastUpdate |async | date: 'short' | uppercase }}</p>
    <h2>Mes apppareils</h2>
    <ul class="list-group">
        <app-appareil *ngFor= "let appareil of appareils; let i = index"
        [indexOfAppareil] ="i"
        [appareilName]= "appareil.name"
        [appareilStatus]="appareil.status"
        [id]="appareil.id"
        ></app-appareil>
    </ul>
    <button class="btn btn-success"
     [disabled]="!isAuth"
    (click)="onAllumer()"
    >Tout allumer</button> &nbsp;
    <button class="btn btn-danger"
     [disabled]="!isAuth"
    (click)="onEteindre()"
    >Tout Eteindre</button> &nbsp;
    <button class="btn btn-primary"
        (click)="onSave()">Enregistrer les appareils</button> &nbsp;

        <button class="btn btn-primary"
        (click)="onFetch()">Récupérer les appareils</button>
